<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
    body{
      font: 18px "Microsoft YaHei UI";
      margin: 0;
      background-color: #fafafa;
    }
    header a{
      text-decoration: none;
      color: #6c6c6c;
    }
    header a:hover{
      color: #0aa1ed;
    }
    .el-input__inner{
      padding-right: 35px;
    }
    /*销量排行榜表格间距*/
    .el-table .el-table__cell{
      padding: 0;
    }
  </style>
</head>
<body>
<div id="app">
<el-container>
  <el-header>
    <div style="width: 1200px;margin: 0 auto">
      <img src="imgs/logo.png" style="width: 300px;vertical-align: middle" alt="">
      <span style="margin-left: 50px">
        <a href="" style="color: #0aa1ed">首页</a><el-divider direction="vertical"></el-divider>
        <a href="">热点咨询</a><el-divider direction="vertical"></el-divider>
        <a href="">社会招聘</a><el-divider direction="vertical"></el-divider>
        <a href="">校园招聘</a><el-divider direction="vertical"></el-divider>
        <a href="">帮助中心</a>
      </span>
    </div>
    <!--蓝条开始-->
    <div style="width: 100%;height:60px;background-color: #82c8ec">
      <el-menu style="width: 1200px;margin: 0 auto"
              default-active="1"
              class="el-menu-demo"
              mode="horizontal"
              @select="handleSelect"
              background-color="#82c8ec"
              text-color="#fff"
              active-text-color="#fff">
        <el-menu-item index="1">精彩活动</el-menu-item>
        <el-menu-item index="2">当季女装</el-menu-item>
        <el-menu-item index="3">品牌男装</el-menu-item>
        <el-menu-item index="4">环球美食</el-menu-item>
        <el-menu-item index="5">医药健康</el-menu-item>
        <el-menu-item index="6">美妆彩妆</el-menu-item>
        <el-menu-item index="7">母婴产品</el-menu-item>
        <el-menu-item>
          <el-input size="mini" v-model="wd" placeholder="请输入关键字搜索"></el-input>
        </el-menu-item>
        <el-button style="background-color: rgba(0,0,0,0);border:none;position: relative;top: 15px;right: 70px"
                   icon="el-icon-search"></el-button>
      </el-menu>
    </div>
    <!--蓝条结束-->
  </el-header>
  <el-main style="width: 1200px;margin: 100px auto 0 auto">
    <el-row :gutter="20">
      <el-col :span="18">
        <!--走马灯开始-->
        <el-carousel trigger="click" height="300px">
          <el-carousel-item v-for="item in arr" :key="item">
            <img :src="item" style="width: 100%;height: 100%" alt="">
          </el-carousel-item>
        </el-carousel>
        <!--走马灯结束-->
      </el-col>
      <el-col :span="6">
        <el-card>
          <h3><i style="font-weight: bold" class="el-icon-trophy"></i>销量最高</h3>
          <el-divider></el-divider>
          <!--销量排行榜开始-->
          <el-table :data="itemArr" style="width: 500px">
            <!--type="index" 列的内容为序号-->
            <el-table-column type="index" label="排名">
            </el-table-column>
            <el-table-column prop="name" label="商品名">
            </el-table-column>
            <el-table-column prop="count" label="销量">
            </el-table-column>
          </el-table>
          <!--销量排行榜结束-->
        </el-card>
      </el-col>
    </el-row>
    <!--商品列表开始-->
      <el-row :gutter="20">
        <el-col :span="6" v-for="i in 12">
          <el-card :body-style="{ padding: '0px' }">
            <img src="imgs/a.jpg" width="100%" class="image">
            <div style="padding: 14px;">
              <p>BEASTER小恶魔鬼脸加厚保暖夹克潮流冬宽松仿羊羔毛外套</p>
              <div class="bottom clearfix" style="color: #6c6c6c">
                <span>￥229
                  <small style="text-decoration: line-through">￥698</small></span>
                <span style="float: right">销量:2342件</span>
              </div>
            </div>
          </el-card>
        </el-col>
      </el-row>
    <!--商品列表结束-->
  </el-main>
  <el-footer></el-footer>
</el-container>

</div>
</body>
<script src="js/vue.min.js"></script>
<!-- import JavaScript -->
<script src="js/eui.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function() {
      return {
        wd:"",
        arr:["imgs/b1.jpg","imgs/b2.jpg","imgs/b3.jpg","imgs/b4.jpg"],
        itemArr:[{name:"小米12pro",count:876543},
          {name:"华为手表",count:76543},
          {name:"最生活毛巾",count:6543},
          {name:"双飞燕鼠标",count:543},
          {name:"耐克运动服",count:43},
          {name:"苹果手机",count:3}]
      }
    },methods:{
      handleSelect(){

      }
    }
  })
</script>
</html>